# macOS
.DS_Store

# Xcode — build products & user-specific state
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Xcode — other
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Misc
*.swp
